<div class="nav">
  <nav>
    <ul>
      <li><a routerLink="home">HOME</a></li>
      <li>
        <div class="dropdown">
          <a routerLink="/products"><button class="dropbtn">PRODUCTS</button></a>
          <div class="dropdown-content">
            <div *ngFor="let category of categories">
              <a routerLink="/productsByCategory/{{category.id}}">{{category.name}}</a>
            </div>
          </div>
        </div>
      </li>
      <li><a routerLink="/aboutUs">ABOUT US</a></li>
      <li><a routerLink="/contactUs">CONTACT US</a></li>
      <li><a routerLink="/feedback">FEEDBACK</a></li>
    </ul>
  </nav>
</div>
